appdirs
appnope
bleach
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandocfilters
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
simplegeneric
six
tensorflow
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
tensorflow
keras
